*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  max-width: 1350px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
.container-flex{
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-flex-fluid{
  width: 100%;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
@font-face {
  font-family: 'Morebi Rounded';
  src: url('./../fonts/MorebiRounded-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./../fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
$font-family-morebi: "Morebi Rounded",Helvetica,Arial,sans-serif;
$font-family-sfpro: "SF Pro Display",Helvetica,Arial,sans-serif;
$font-family-mulish: 'Mulish',Helvetica,Arial,sans-serif;
$color-white: #ffffff;
$color-black: #323234;
$color-grays: #999999;
$color-lgreen: #A2F21E;
$color-lgreen-type2: #A1F421;
$color-lgreen-type3: #4DE845;
$color-lgreen-type4: #63ED3B;
$color-lgreen-type4: #63ED3B;
$color-mark: #6bd5fb;
$color-lgreen-gradient: linear-gradient(95.67deg, #A2F71E -31.66%, #3DE74C 70.81%);
$color-text-lgreen: #A2F81D;
$bg-section:#323234;
$bg-slick-dots:#61EC3C;
$bg-black:#000000;
$bg-black-type2:#151515;
$bg-black-type3:#0F1218;
$bg-black-type4:#030B15;
$box-shadow: 0px 4px 12px rgba(75, 90, 94, 0.11);
$box-shadow-type2: 0px 8px 20px rgba(162, 170, 192, 0.2);
